<div class="container">
    <div class="about">
        <h1>About BORGA</h1>
        <p>BORGA (BOaRd Games Application) is a project developed for the Introduction to Web Programming Course @ ISEL.</p>
        <p>The project was made using the following technologies:</p>
        <ul>
            <li>Node.js (Runtime)</li>
            <li>Express.js (Framework)</li>
            <li>Handlebars.js (Templating)</li>
            <li>Passport.js (User Handling)</li>
            <li>ElasticSearch (Database)*</li>

            <p><b>*ElasticSearch may not be used, depending on the version.</b></p>
        </ul>
        <p>BORGA gets all its information about games from the <a href="https://www.boardgameatlas.com/">Board Games Atlas API</a>.</p>
        <p>While the website does not use any frontend toolkit for its looks, the UX has been carefully thought of.</p>
        <p>Along with the provided website, there is also an API available, with its documentation present <a href="/api-docs" class="a">here</a>.</p>
        <p>All the source code for the project is available <a href="https://www.github.com/RicardoPinto26" class="a">here</a>.</p>

        <h1>About Me</h1>
        <p>My name is Ricardo Pinto, and I'm studying Computer Science and Computer Engineering @ ISEL.</p>
        <h3>My Github:</h3>
        <div class="github">
            <a href="https://www.github.com/RicardoPinto26" class="nocss"><img src="public/github.png" width="64" height="64"></a>
        </div>
    </div>
</div>