<div class="container">


    <div class="main">
        <img src="public/icon.png" width="64" height="64">
        <h3>What is is:</h3>
        <p>BORGA (BOaRd Games Application) is a project designed to help you organize your board games into groups, and
            even discover new games to add to your collection.</p>
        <h3>Features:</h3>
        <ul>
            <li>Discover some of the most popular games</li>
            <li>Search for your favorites</li>
            <li>Create personalized groups of games</li>
        </ul>
    </div>
</div>